<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>connect</key>
	<dict>
		<key>constGenerator</key>
		<dict>
			<key>id</key>
			<string>ConstGenerator</string>
			<key>isEnable</key>
			<false/>
			<key>isSystem</key>
			<true/>
			<key>name</key>
			<string>常量生成</string>
		</dict>
		<key>customs</key>
		<array/>
		<key>starting</key>
		<dict>
			<key>id</key>
			<string>57A91A46-6F1D-4201-943B-200570C50B78</string>
			<key>isEnable</key>
			<false/>
			<key>isSystem</key>
			<true/>
			<key>name</key>
			<string>启动后...</string>
		</dict>
		<key>translator</key>
		<dict>
			<key>activeType</key>
			<string>custom</string>
			<key>id</key>
			<string>E0129EFA-5F68-4756-B319-C88CD80DE9D9</string>
			<key>isEnable</key>
			<false/>
			<key>isSystem</key>
			<true/>
			<key>name</key>
			<string>翻译</string>
		</dict>
	</dict>
	<key>fileType</key>
	<string>intensive</string>
	<key>showSyncCreate</key>
	<false/>
	<key>syncCreate</key>
	<false/>
	<key>syncCreationFiles</key>
	<array/>
</dict>
</plist>
