<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>com.auu.i18n.buildOptions.adaptorTo</key>
	<string>2.8.0</string>
	<key>com.auu.i18n.buildOptions.appVersion</key>
	<string>2.8.7</string>
	<key>com.auu.i18n.buildOptions.buildTime</key>
	<real>1747666198.616941</real>
	<key>com.auu.i18n.buildOptions.buildVersion</key>
	<string>24112723</string>
	<key>com.auu.i18n.buildOptions.bundleIdentifier</key>
	<string>com.auu.i18n</string>
	<key>com.auu.i18n.buildOptions.user</key>
	<string>hujinyou</string>
</dict>
</plist>
